.*
.conda
src/__pycache__
notebooks/reports
data/processed/conala/20240326
data/raw/funcom

# all cache files
__pycache__
.ipynb_checkpointsmodels
/models
ensemble_learning/models
ensemble_learning/tmp
ensemble_learning/catboost_info/*
ensemble_learning/reports
ensemble_learning/pickle
ensemble_learning/*pickle
ensemble_learning/configs/catboost_info/

interpretability/catboost_info/
ensemble_learning/catboost_info/


catboost_info